
<% layout("layout/boilerplate.ejs") %>

<style>
.bt{
  display: flex;
  justify-content: center;
}
</style>
<body>


 

    
<div class="container mt-5">
    <form method="post" action="/register">
      <div class="form-group"> 
        <br>
        <input type="tel" name="num" class="form-control" id="phoneNumber" placeholder="Enter your Whatsapp number" required>
      </div>
      <br>
      <br>
      <div class="bt">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
  
    
</body>
